<div class="vote-panel">
  <%= link_to like_collection_resource_path(resource.collection, resource), class:"upvote-btn", id: "upvote-btn-resource-#{resource.id}", method: :put, remote: true do %>
    <div class="up-arrow">
      <%= icon('angle-up') %>
    </div>
    <p id='resource-<%= resource.id %>-upvotes'><%= resource.get_upvotes.size %></p>
  <% end %>
  <%= link_to dislike_collection_resource_path(resource.collection, resource), class:"downvote-btn", method: :put, remote: true do %>
    <div class="down-arrow">
      <%= icon('angle-down') %>
    </div>
  <% end %>
</div>
