<div class="resource-wrapper">
  <div class="container">
    <div class="resource-header">
      <div class="resource-title-block">
        <div class="white-stripe">
          <h3><%= @resource.title %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="resource-content">
  <div class="container">
    <div class="resource-description">
      <h4>Content:</h4>
      <p><%= @resource.content %></p>
      <p>URL: <%= link_to "#{@resource.uri}", @resource.uri %></p>
    </div>
    <% if policy(@resource).edit? %>
      <div class="resource-controls">
        <div class="resource-item-admin-controls">
          <%= render 'shared/resources/vote_btn', resource: @resource %>
          <%= link_to "edit", edit_collection_resource_path(@resource.collection, @resource), id: "edit-resource-#{@resource.id}" %>
          <%= link_to "delete", collection_resource_path(@resource.collection, @resource), id: "delete-resource-#{@resource.id}", method: :delete, data: { confirm: "are you sure your want to delete this resource?" }  %>
        </div>
      </div>
    <% end %>
    <div class="resource-stats">
      <h4>Statistics</h4>
      <div class="resource-stats-details">
        <div class="resource-stats-details-upvote">
          <h5>Number of upvotes</h5>
          <p>24</p>
        </div>
        <div class="resource-stats-details-downvote">
          <h5>Number of downvotes</h5>
          <p>12</p>
        </div>
        <div class="resource-stats-details-comments">
          <h5>Number of comments</h5>
          <p>3</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="resource-comments">
  <div class="container">
    <h4>Comments</h4>
    <div class="resource-comments-form">
      <!-- TODO -->
      <% if current_user %>
        <%= render 'shared/comments/resource_comment_form', comment: @comment, commentable: @resource %>
      <% end %>
    </div>
    <div class="resource-comments-list">
      <!-- TODO -->
      <%= render 'shared/comments/comments_list', comments: @resource.comments %>
    </div>
  </div>
</div>
